 <div ng-controller="WFCmpntParamsListCtrl as wftlc">
        <!--div class="col-lg-12 page-header">
                <h2>
                Pipelines
                </h2>
        </div-->

        <div>
            <div class="form-group">
                <h3>
                    Parameters for Component [Exec:{{wftlc.TarWFComponent.exec}} WorkDir:{{wftlc.TarWFComponent.workdir}}]
                    <span class="pull-right">
                        <button type="button" class="btn btn-primary" id="btn_product_create" ng-click="wftlc.addCmpntParam()">Add Parameter</button>
                    <button type="button" id="updData" class="btn btn-success" ng-class="{disabled:idselected==null}"
                            ng-click="wftlc.updateCmpntParam(idselected.idwfcmpntparams)">Edit</button>			
                    
                                   
                    <button type="button" id="delData" class="btn btn-danger" ng-class="{disabled:idselected==null}"
                            ng-click="wftlc.delCmpntParam(idselected.idwfcmpntparams,idselected.index)">Del</button>			
                    </span>
                </h3>
                	
            </div>
            <div class="form-group">
                <input class="form-control" type="text" ng-model="searchText" placeholder="Type here to filter Parameters...">
                <hr>
            </div>


            <table id="Product_list" class="table table-hover"><!-- table-striped   -->
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Direction</th>
                    <th>Comment</th>
                    <th>Type of Value</th>
                    <th>Type of Parameter</th>
                    <th>Prefix</th>
                    <th>Position</th>
                    <th>Default Value</th>
                    <th>Belong To Component</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="or_el in wftlc.allWFCmpntParams | filter:searchText" 
                    ng-click="selectrow(or_el,$index)"
                    ng-class="{info: or_el.idwfcmpntparams == idselected.idwfcmpntparams}">
                    <td>
                        {{ or_el.idwfcmpntparams }}
                    </td>
                    <td>
                        {{ or_el.paramname }}
                    </td>
                    <td>
                        {{ mapDir(or_el.direction )}}({{ or_el.direction }})
                    </td>
                    <td>
                        {{ or_el.comment}}
                    </td>
                    <td>
                        {{ mapVType(or_el.valtype)}} ({{ or_el.valtype}})
                    </td> 
                    <td>
                        {{ mapPType(or_el.paramtype)}} 
                        ({{ or_el.paramtype}})
                    </td> 
                    <td>
                        {{ or_el.prefix}}
                    </td> 
                    <td>
                        {{ or_el.post}}
                    </td> 
                    <td>
                        {{ or_el.defaultval}}
                    </td> 
                    <td>
                        {{ or_el.belongtocmpnt.exec}}({{or_el.belongtocmpnt.workdir}})
                    </td> 
                    <!--td>
                        <a ng-href="#/WFComponentUpdate/{{or_el.idwfcomponent}}" class="btn btn-success pull-right" id="btn_product_update">Edit</a>
			<button type="button" id="delData" class="btn btn-success" ng-click="wftlc.delProduct(or_el.idwfcomponent,$index)">Del</button>			
                    </td-->
                </tr>
                <tr ng-hide="wftlc.allWFCmpntParams.length">
                    <td colspan="10">
                        <p class="text-center">No Parameters Found</p>
                    </td>
                </tr>
                </tbody>
            </table>

            <h3>
                Debug
            </h3>
            <hr>
            <!--PL: TOFIX: Problem, it doesn't work.-->
            <accordion>
                <accordion-group is-open="status.open">
                    <accordion-heading>
                        Json Data <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
                    </accordion-heading>
                    <pre>selected: {{idselected| json}}</pre>
                    <pre>{{ wftlc.allWFCmpntParams | json }}</pre>
                </accordion-group>
            </accordion>
        </div>

    </div>