<div ng-controller="XYDiseaseGeneUpdataCtrl as xydguc">
    <h1>Update Disease Gene</h1>
    <form id="DiseasegeneUpdateForm" name="DiseasegeneUpdateForm" class="form-horizontal" role="form"
          ng-submit="xydguc.updateDiseasegene()">
        <legend class="sm-col-12">Disease Gene Basic Information</legend>

        <div class="form-group">
            <label id="la_cmpntid" for="cmpntid" class="col-sm-4 control-label">GeneID</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" readonly name="cmpntid" id="cmpntid" placeholder=""
                       ng-model="xydguc.newdiseasegene.geneID">
            </div>
        </div>

        <div class="form-group">
            <label id="la_exec" for="exec" class="col-sm-4 control-label">Gene Name</label>

            <div class="col-sm-8">
                <input type="text" class="form-control" name="genename" id="genename" placeholder=""
                       ng-model="xydguc.newdiseasegene.genename">
            </div>
        </div>

        <div class="form-group">
            <label id="la_description" for="description" class="col-sm-4 control-label">Disease Name</label>

            <div class="col-sm-8">
                <input type="text" class="form-control" name="diseasename" id="diseasename" placeholder=""
                       ng-model="xydguc.newdiseasegene.diseasename">
            </div>
        </div>   
        <div class="form-group">
            <label id="la_description" for="description" class="col-sm-4 control-label">Disease Pheno</label>

            <div class="col-sm-8">
                <input type="text" class="form-control" name="diseasepheno" id="diseasepheno" placeholder=""
                       ng-model="xydguc.newdiseasegene.diseasepheno">
            </div>
        </div>   

        <div class="form-group">
            <div class="col-sm-offset-4 col-sm-8 text-right">
                <a ng-href="#/XYDiseaseGeneList" id="btn_cancel" class="btn btn-warning">Cancel</a>

                <button type="submit" class="btn btn-success" id="btn_create">Update Component</button>
            </div>
        </div>
    </form>    
</div>